html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fa-1x {
   font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
   cursor: pointer;
}

.error {
   color : red;
   font-size : 1.1rem;
}
