@model DAL.Models.User
@using DemoASP.Tools;
@inject SessionManager session;
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome</h1>

<h4>@Model.UserName</h4>

@{
   if (session.ConnectedUser is not null)
   {
      <p><a asp-controller="Game" asp-action="FavList" asp-route-id="@session.ConnectedUser.Id">Go to your favoris games</a></p>
   }
}
